@font-face {
    font-family: myFont;
    src: url(/public/fonts/Cyborg\ Punk.ttf);
}

.recentHeading h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-family: myFont;
}

.recentHeading{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-right: 5vh;
    margin-bottom: 3%;
}

.recentHeading a{
    display: flex;
    border: none;
}

.recentHeadingButton{
    font-size: 0.9rem;
    align-items: flex-start;
    position: relative;
    height: fit-content;
    width: fit-content;
    color: white;
    padding: 1.1vh 1.4vw;
    border: none;
    letter-spacing: 1px;
    background-color: rgb(253, 138, 22);
    align-self: flex-end;
    border-radius: 8px;
}

.recentHeadingButton:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(189, 95, 0);
}
