.image-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 4px 8px 25px rgb(0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.image-card:hover {
  transform: scale(1.17); /* Image transformation on hover */
  box-shadow: none;
  border: 2px dotted white;
  border-radius: 0.5rem;
}

.gallery-image {
  width: 100%;
  height: 250px; /* Fixed height to create a rectangular size */
  object-fit: cover; /* Ensure the image covers the space while keeping aspect ratio */
  display: block;
  border-radius: 8px;
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}

.image-card:hover .image-text {
  opacity: 1; /* Show text on hover */
}

