.head{
    display: flex;
}

.card{
    color: rgb(230, 230, 230);
    margin: auto;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px dotted rgb(230, 230, 230);
    border-radius: 1vw;
    box-shadow: 0px 0px 25px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* height: 94%; */
    width: 100%;
}
.card:hover{
    /* margin: auto;
    filter: brightness(2.3); */
    /* pointer-events: none; */
    cursor: pointer;
    color: rgb(0, 0, 0);
    transform: scale3d(1.02,1.02,1.02);
    scale: 1.017 ;
    /* filter: brightness(4.2); */
    background-color: rgb(253, 138, 22);
    /* filter: contrast(3); */
    filter: hue-rotate(5);
    border: 2px solid #e5dce8;
}

.card:hover .lg {
    /* filter: brightness(0.57); */
    filter: brightness(1.4);
}

.card_body {
    padding: 16px;
}

.onDeleteResCard {
    /* backdrop-filter: blur(3px); */
    filter: blur(2px);
    /* background-color: blue; */
    pointer-events: none;

}

.resCardOnEditOptionBackground {
    pointer-events: none;
}

.off{
    display: none;
}

#resdelt{
    background-image: url("/public/images/delete.png");
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    position: relative;
    left: 80%;
    top: 27%;
    z-index: 10;
}

.cardDesc{
    font-size: 1.2rem;
}

#topic{
    text-align: center;
    font-size: 1.9rem;
    text-decoration: underline;
    margin: 3vh;
}
#imgcont{
    /* margin-top: 1vh; */
    margin-left: 2rem;
}
#details{
    margin: 1vh 3vh 3vh 3vh;
    /* margin-top: 0; */
    padding-left: 0%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.lg{
    height: auto;
    width: 5.5vw;
    border: 1px solid white;
    border-radius: 1vw;
    background-color: rgb(225, 225, 225);
    padding: 0.4vw;
    position: absolute;
    top: 26.5%;
    left: -16%;
}

@media (max-width: 1300px) {
    .card{
        width: 24vw;
        border-radius: 3vw;
    }
    .lg{
        height: 7vw;
        width: 7vw;
        top: 3rem;
        left: -7vh;
        border-radius: 2vh;
    }
}

@media (max-width:900px){
    .cardDesc{
        font-size: 1.8rem;
        margin-top: 2vh;
    }
    #topic{        
        font-size: 4.5vh !important;
    }
    .card{        
        width: 35vw;
        border-radius: 3vw;
    }
    .card:hover{        
        width: 35vw;
    }
    .lg{
        height: 10vw;
        width: 10vw;
        top: 8.4vh;
        left: -6vh;
        border-radius: 2vh;
    }
}

@media (max-width:600px){
    #details{
        font-size: 1.8rem;
    }
    #topic{
        font-size: 3.5vh !important;
    }
    .card{        
        width: 90%;
    }
    .lg{
        height: 6rem;
        width:  6rem;
        top: 5vh;
        left: -3.2rem;
    }
}