
.techtag{
    display: inline-block;
    border-radius: 20px;
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: rgb(105, 19, 191);
    margin: 6px;
    border: 1px solid white;
    font-size: small;
    color: white;
}