.signup .container .form .final_signup .final_signupButton {
    width: 45%;
    /* box-sizing: border-box; */
    float: right;
    text-transform: uppercase;
    background-color: rgb(253, 138, 22);
    /* border: 2px solid #db00ef; */
    border: none;
    font-size: 19px;
    color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    /* border: 2px solid #db00ef; */
}
.signup .container .form .final_signup .final_signupButton:hover {
    background-color: rgb(189, 95, 0);
}

#secondbar {
    background-color: rgb(253, 138, 22)
}

.signup .container .form .backbox .backButtonDiv {
    width: 45%;
    /* box-sizing: border-box; */
    float: left;
    text-transform: uppercase;
    background-color: rgb(253, 138, 22);
    border: none;
    font-size: 19px;
    color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    /* border: 2px solid #db00ef; */
}
.signup .container .form .backbox .backButtonDiv:hover {
    background-color: rgb(189, 95, 0);
    /* padding: 8px 5px 8px 20px; */
    background-image: url(/public/images/back-slide.png);
    background-repeat: no-repeat;
    background-size: 13% 40%;
    background-position: 1.25rem;
}