.sign-up_section .container .form .final_signup .final_signupButton {
    width: 45%;
    /* box-sizing: border-box; */
    float: right;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #db00ef;
    font-size: 19px;
    color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    /* border: 2px solid #db00ef; */
}
.sign-up_section .container .form .final_signup .final_signupButton:hover {
    background-color: #db00ef;
}

.trackbar {
    width: 33%;
    height: 100%;
    margin-top: 3.5%;
    background-color: bisque;
}

.sign-up_section .container .form .backbox .backButtonDiv {
    width: 45%;
    /* box-sizing: border-box; */
    float: left;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #db00ef;
    font-size: 19px;
    color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    /* border: 2px solid #db00ef; */
}
.sign-up_section .container .form .backbox .backButtonDiv:hover {
    background-color: #db00ef;
    padding: 8px 5px 8px 20px;
    background-image: url(/public/images/back-slide.png);
    background-repeat: no-repeat;
    background-size: 13% 50%;
    background-position: 2.4vw;
}