/* .signup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
    flex-wrap: wrap;
    background-color: #000000;
    gap: 2.5px;
    overflow: hidden;
}

.signup::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #db00ef, black);
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.signup span {
    position: relative;
    display: block;
    width: calc(5.475vw - 00.4vw);
    height: calc(5vw - 1px);
    background: #000000;
    z-index: 1;
    border: 2px solid rgb(0, 0, 0);
    transition: 1.5s;
}
.signup span:hover {
    background: #db00ef;
    transition: 0s;
} */

.signup_body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.signup .container
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 29%;
    /* background: rgb(30, 30, 30); */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    padding: 2% 5%;
    border-radius: 50px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.signup .container h2 {
    font-family:'Times New Roman', Times, serif;
    /* text-transform: uppercase; */
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-top: 0%;
    margin-bottom: 3.3%;
    padding-bottom: 10.5%;
}
.signup .container .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    gap: 30px;
}
.signup .container .form .inputbox {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.requireSuggestion {
    margin-left: 0.4vw;
    margin-top: 1%;
    margin-bottom: -1vh;
    font-size: 1.8vh;
    color: #a90000;
}
.signup .container .form .inputbox input {
    width: 100%;
    box-sizing: border-box;
    /* background-color: #333; */
    background-color: rgba(255, 255, 255, 0.17);
    outline: none;
    font-size: 17.5px;
    color: #ffffff;
    padding: 15px 17px 13px 17px;
    border-radius: 20px;
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    /* border: 2px solid rgb(253, 138, 22); */
}
.signup .container .form .signupbox .signupButton {
    width: 100%;
    /* box-sizing: border-box; */
    /* text-transform: uppercase; */
    background-color: rgb(253, 138, 22);
    font-size: 19px;
    color: #ffffff;
    padding: 12px;
    border-radius: 20px;
    border: none;
    /* border: 2px solid #db00ef; */
}
.signup .container .form .signupbox .signupButton:hover {
    background-color: rgb(189, 95, 0);
    background-image: url(/public/images/next-slide.png);
    background-repeat: no-repeat;
    background-size: 7.5% 33%;
    background-position: 10.5rem;
}

.signup .container .form .inputbox label {
    position: absolute;
    color: #d6d6d6;
    margin-left: 17px;
    top: 0.85rem;
    left: 0;
    font-size: 20px;
    pointer-events: none;
    font-style: normal;
    transition: 0.6s;
    z-index: 4;
}
.signup .container .form .inputbox input:valid ~label,
.signup .container .form .inputbox input:focus ~label {
    transform: translateY(-1.6rem);
    min-width: 45%;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
    color: #000000;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: #ffffff;
    /* backdrop-filter: blur(4px); */
    background-image: none;
    padding: 0rem 0.6rem;
    border-radius: 0.8rem;
}

.trackbar {
    width: 33%;
    height: 100%;
    margin-top: 3.5%;
    background-color: bisque;
    transform: skew(-45deg);
}

#firstbar {
    background-color: rgb(253, 138, 22)
}


.show_pwd_signup {
    width: 2.8vw !important;
    height: 5.5vh;
    position: absolute;
    top: 1.17rem;
    left: 15.8rem;
    outline: none;
    opacity: 0.8;
    border-radius: 0px !important;
    background-color: transparent !important;
    border: none !important;
    background-image: url(/public/images/show-password.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

.hide_pwd_signup {
    width: 2.8vw !important;
    height: 5.5vh;
    position: absolute;
    top: 1.17rem;
    left: 15.8rem;
    outline: none;
    opacity: 0.8;
    border-radius: 0px !important;
    background-color: transparent !important;
    border: none !important;
    background-image: url(/public/images/hide-password.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
}


@media (max-width: 500px) {

    .signup {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup::before {
        background: linear-gradient( black 50%, #db00ef, black);
        animation: animate 6s linear infinite;
    }
    @keyframes animate {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(40%);
        }
    }
    
    .signup span {
        width: calc(16vw);
        height: calc(16vw);
    }
    .signup .signup {
        width: 65%;
        top: 10%;
    }

    .signup .container {
        width: 100%;
    }

    .signup .container .form .inputbox input {
        height: 36px;
        padding: 12px 17px 12px 14px !important;
        border-radius: 14px !important;
        border: 1px solid #db00ef;
    }
    .signup .container .form .inputbox label {
        top: 18%;
        margin: 0px 0px 0px 15px !important;
    }

    .signup .container .form .inputbox input:valid ~label,
    .signup .container .form .inputbox input:focus ~label {
        transform: translateY(-17px) translateX(-5px) !important;
        padding: 0px 6px 0px 6px !important;
    }

    .signup .container .form {
        gap: 23px;
    }
    .signup .container h2 {
        font-size: 3vh !important;
        margin-left: 16vw;
        margin-bottom: 5.7%;
    }
    .signup .container .form .signupbox .signupButton:hover {
        background-position: 47px;
        background-size: 16% 50%;
        padding: 8px 7px 8px 0px;
    }

    .requireSuggestion {
        font-size: 1.4032vh !important;
    }

    .show_pwd_signup {
        width: 14.5% !important;
        height: 75% !important;
        top: 31%;
        left: 85%;
    }

    .hide_pwd_signup {
        width: 14.5% !important;
        height: 75% !important;
        top: 31%;
        left: 85%;
    }
}

@media (min-width:501px) and (max-width:650px) {
    
    .signup {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup::before {
        width: 155%;
        background: linear-gradient( black 40%, #db00ef, black);
        animation: animate 5s linear infinite;
    }
    @keyframes animate {
        0%{
            transform: translateY(-90%)
        }
        100%{
            transform: translateY(55%)
        }
    }

    .signup span {
        width: calc(13vw + 1px);
        height: calc(12vw + 2.8px);
    }

    .signup .signup {
        width: 35%;
        top: 18%;
    }
    
    .signup .container {
        width: 85%;
        margin-bottom: 3%;
    }
    
    .signup .container .form {
        gap: 30px;
    }
}

@media (min-width:651px) and (max-width:800px) {
    
    .signup {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup::before {
        width: 155%;
        background: linear-gradient( black 30%, #db00ef, black);
        animation: animate 5s linear infinite;
    }
    @keyframes animate {
        0%{
            translate: -70% -70%;
        }
        100%{
            translate: 55% 55%;
        }
    }

    .signup span {
        width: calc(9vw + 1.7px);
        height: calc(9vw + 1px);
    }

    .signup .signup {
        width: 45%;
        top: 14.5%;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .signup .container {
        width: 85%;
        margin-bottom: 3%;
    }
    
    .signup .container .form {
        gap: 30px;
    }
}

@media (min-width:800px) and (max-width:1024px) {
    
    .signup {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup::before {
        width: 155%;
        background: linear-gradient( black 50%, #db00ef, black);
        animation: animate 6s linear infinite;
    }

    .signup span {
        width: calc(8vw - 2.8px);
        height: calc(8vw - 2px);
    }
    
    .signup .signup {
        width: 35%;
        top: 15%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .signup .container {
        width: 80%;
        margin-bottom: 3%;
    }

    .signup .container .form {
        gap: 30px;
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    
    .signup {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup::before {
        width: 155%;
        background: linear-gradient( black 50%, #db00ef, black);
        animation: animate 6s linear infinite;
    }

    .signup span {
        width: calc(7vw - 4.5px);
        height: calc(7vw - 2px);
    }
    
    .signup .signup {
        width: 30%;
        top: 14.5%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .signup .container {
        width: 80%;
        margin-bottom: 3%;
    }

    .signup .container .form {
        gap: 30px;
    }
}

@media (min-width:1201px) and (max-width:1376px) {
    
    .signup {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup::before {
        width: 155%;
        background: linear-gradient( black 50%, #db00ef, black);
        animation: animate 6s linear infinite;
    }

    .signup span {
        width: calc(6vw - 3px);
        height: calc(6vw - 3px);
    }

    .signup .signup {
        width: 27%;
        top: 14.5%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .signup .container {
        width: 82%;
        margin-bottom: 3%;
    }

    .signup .container .form {
        gap: 30px;
    }

}