.project{
    border: 2px solid cadetblue;
    background-color: rgb(60, 41, 93);
    box-shadow: 0px 0px 13px cadetblue;
    display: flex;
    color: white;
    margin: 2vw;
    border-radius: 2vw;
    padding: 3vh;
}
.tags{
    display: flex;
    margin: 1vh 0;
}
.tag{
    background-color: rgb(38, 24, 55);
    border: 0.5px solid white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 100%;
    height: auto;
    border-radius: 2vh;
    padding: 0vw 2vh;
    margin-right: 1vw;
}
.thumbnail{
    height: 30vh;
    width: 20vw;
}
.data{
    display: flex;
    flex-direction: column;
}