


.contestBackBtn{
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 6vh;
    width: 6vw;
    background: url('/public/images/back-btn-white.png');
    background-repeat: no-repeat;
    background-size: contain;
}
