.EditUserProfile{
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    color: white;
    font-size: 5% !important;
}

.EditUserProfileBack {
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 6vh;
    width: 6vw;
    background: url('/public/images/back-btn-white.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.EditProfileImg{
    position: relative;
    box-shadow: 0 0 20px 1px black;
    background-size: contain;
    border-radius: 100%;
    width: 25vh;
    height: 25vh;
    display: flex;
}

.EditProfilePhotoPanel{
    display: flex;
    padding: 5% 14%;
    padding-top: 3%;
}

.EditProfilePhotoPanel img{
    border-radius: 100%;
}

.EditProfileImgChange{
    position: absolute;
    background-image: linear-gradient(transparent 60%,rgb(0, 0, 0));
    width: 100%;
    height: 100%;    
    border-radius: 100%;
    display: none;
    justify-content: center;
    padding-top: 65%;
}

.EditProfileImgChangeButton{
    background: none;
    border: none;   
    color: white;
}

.EditProfileUsernameDisplay{
    font-size: 3.4rem;
    margin: 4% 0% 0% 7%;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

@media (width<1270px) {
    .EditProfileUsernameDisplay{
        font-size: 3rem !important;
    }
    .EditProfileSelectionPanel div{
        font-size: 20px !important;
    }
    .EditFormFrame textarea,.EditFormFrame input, .EditFormFrame select{
        font-size: 16px !important;
    }
}


.EditProfileGrid{
    position: relative;
    display: flex;
    margin: auto;
    width: fit-content;
    top: -50px;
    gap: 0px 35px;
}

.EditProfileGrid input[type=radio] {
    display: none;
}

.EditProfileMainPanel{
    position: relative;
    top: -4vh;
    width: 55vw;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3vh;
    box-shadow: 0px 0px 12px 2px rgb(0, 0, 0);
    padding: 3vh 4vh;
}

.EditProfileMainPanel h3 {
    margin: 1% 0% 3% 0%;
    font-weight: 700;
    text-transform: uppercase;
}

.EditProfileSelectionPanel .slider2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.8s ease;
    background: rgb(253, 138, 22);
    z-index: -1;
}
  
#personalInfo:checked~label.personalInfo,
#collegeDetails:checked~label.collegeDetails,
#account:checked~label.account,
#changePassword:checked~label.changePassword {
    color: black;
    font-weight: 600;
}

#personalInfo:checked~.slider2 {
    top: 0px;
}

#account:checked~.slider2 {
    top: 60px;
}
#changePassword:checked~.slider2 {
    top: 120px;
}


.EditProfileSelectionPanel{
    width: fit-content;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0px auto;
    height: fit-content;
    padding: 1px;
    margin-top: 3%;
    border-radius: 15px;
}

.EditProfileSelectionPanel label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 60px;
    line-height: 60px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 0px 25px;
    transition: all 0.8s ease;
    z-index: 10;
}

.EditProfileSelectionPanel label:hover {
    color: rgb(253, 138, 22);
}


.EditFormFrame{
    margin-top: 4vh;
    display: grid;
    gap: 2vh 0px;
    grid-template-columns: 3fr 1fr 8fr;
}

.EditFormFrame>span{
    font-size: 1.3rem;
    font-weight: 500;
    border-bottom: 2px solid white;
    padding-bottom: 2vh;
}

.EditFormFrame textarea,.EditFormFrame input, .EditFormFrame select{
    resize: none;
    padding: 0px 10px;
    font-size: 1.3rem;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    padding-bottom: 15px;
    outline: none;
    color: white;
}

.EditSaveButtonDiv{
    display: flex;
    justify-content: right;
    grid-column: 1/4;
    margin-top: 5vh;
    color: white;
}

.EditSaveButtonDiv button{
    font-size: 0.9rem;
    position: relative;
    height: fit-content;
    width: fit-content;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 1.1vh 1.4vw;
    letter-spacing: 0.55px;
    border: none;
    background-color: rgb(253, 138, 22);
    align-self: flex-end;
    border-radius: 8px;
}

.EditSaveButtonDiv button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(189, 95, 0);
}

.skillTagContainer{
    display: flex;
    gap: 2vh;
    overflow: auto;
    flex-wrap: wrap;
    height: fit-content;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
.allSkillsTagContainer{
    display: none;
    gap: 2vh;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    overflow: auto;
    flex-wrap: wrap;
    border: 2px solid white;
    box-shadow: 0 0 15px black;
    height: fit-content;
    font-size: 1rem !important;
}

.UserProfileAddSkillTag{
    display: flex;
    justify-content: center;
    font-weight: 500;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 1rem !important;
    background-color: rgb(253, 138, 22);
    transition: 0.2s all;
}

.UserProfileAddSkillTag:hover{
    background-color: rgb(189, 95, 0);
}

@media (width<1000px) {
    .EditProfileUsernameDisplay{
        font-size: 2rem !important;
    }
    .EditProfileGrid{
        flex-direction: column;
        margin: auto;
        padding: 0px 40px;
    }
    .EditProfileSelectionPanel{
        display: flex;
        margin-bottom: 20px;
    }
    .EditProfileSelectionPanel div{
        display: flex !important;
        justify-content: center !important;
        font-size: 1rem !important;
        text-align: center;
        margin: 0px 10px;
        width: 100%;
        flex-grow: 1;
    }
    .EditProfileMainPanel{
        width: 100% !important;
    }
}

.show_pwd_edit_profile {
    width: 2.8vw !important;
    height: 5.5vh;
    position: absolute;
    left: 87.5%;
    opacity: 0.7;
    border-radius: 0px !important;
    background-color: transparent !important;
    border: none !important;
    background-image: url(/public/images/show-password.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

.hide_pwd_edit_profile {
    width: 2.8vw !important;
    height: 5.5vh;
    position: absolute;
    left: 87.5%;
    opacity: 0.7;
    border-radius: 0px !important;
    background-color: transparent !important;
    border: none !important;
    background-image: url(/public/images/hide-password.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

#pwd_icon {
    top: 25.5%;
}

#confirmPwd_icon {
    top: 42.5%;
}

#reconfirmPwd_icon {
    top: 61.5%
}