.addprojectCollabrationContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addProjectCollabrationHeader {
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    background-color: rgb(253, 138, 22);
}

.addprojectCollabrationContainer h1 {
    margin: 1% 0%;
    font-size: 2rem;
    letter-spacing: 1px;
}

.formContainer {
    color: white;
    width: 60%;
    /* background-color: #363636; */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 3vh 4vw;  
}

.formContainer label {
    color: rgb(215, 215, 215);
    font-size: 1.3rem;
    margin-top: 20px;
    letter-spacing: 0.5px;
    font-family: sans-serif;
}
.formContainer input {
    width: 100%;
    font-size: 1.1rem;
    color: white;
    /* color: rgb(255, 255, 255); */
    /* background-color: rgba(255, 255, 255, 0.3); */
    background-color: rgba(0, 0, 0, 0.3);
    /* filter: invert(1); */
    /* padding: 3px 10px; */
    border-radius: 10px;
    border: none;
}
.formContainer input::placeholder {
    color: #b1b1b1;
}

.formLabels {
    margin-top: 5px;
}

.buttonSection {
    display: flex;
    justify-content: space-between;
}

.addProjectCollabrationBtn {
    height: 5vh;
    margin-top: 5.5vh;
    margin-bottom: 3.8vh;
    font-size: 2vh;
    font-weight: 700;
    border-radius: 50px;
    background: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.5vh;
    background-size: 17% 50%;
    font-family: sans-serif;
    color: white;
    border: 2px solid #eaff00;
}
#pc_addbtn {
    margin-right: 2.5vw;
    padding: 0% 20% 0% 20%;
}
#pc_cancelbtn {
    padding: 0% 20% 0% 20%;
}
.addProjectCollabrationBtn:hover {
    color: black;
    background-color: #eaff00;
    box-shadow: 0px 0px 15px 30px #eaff00;
    box-shadow: none;
    border: 1px solid black;
}

.projCollabBackBtn{
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 6vh;
    width: 6vw;
    background: url('/public/images/back-btn-white.png');
    background-repeat: no-repeat;
    background-size: contain;
}