.projectCollabrationContainer {
    margin: 0%;
    padding: 0%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.projectCollabrationHeader {
    width: 85%;
    height: 38vh;
    padding-left: 1vw;
    margin-top: 10vh;
    border-radius: 20px;
    background-color: rgb(105, 19, 191);
    box-shadow: 0px 0px 40px 8px black;
    border: 1px solid white;
    overflow: hidden;
}

@font-face {
    font-family: projectCollabrationFont;
    src: url("/public/fonts/Cyborg\ Punk.ttf");
}

#pc_image {
    width: 28vw;
    height: 37.7vh;
    float: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 20px black;
}

/* .projectTitle {
    position: absolute;
    top: 28.5vh;
    left: 35vw;
    font-size: 7.8vh;
    letter-spacing: 2px;
    font-family: projectCollabrationFont;
} */

.projectTitle {
    position: relative;
    top: 10vh;
    left: 1.2vw;
    font-size: 4.8vh;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-family: projectCollabrationFont;
    z-index: 2;
}

.collabTitleDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid white; */
}

.project_collabration_oneliner {
    position: relative;
    top: 16.5vh;
    left: 2.5vw;
    font-size: 3.2vh;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 2px solid red; */
}

.ProjectCollabrationBtn {
    padding: 0.5rem 1.6rem 0.5rem 2.6rem;
    margin-top: 3.5vh;
    margin-bottom: 3.3vh;
    letter-spacing: 1px;
    background-image: url("/public/images/add-project-collabration.png");
    background-repeat: no-repeat;
    background-size: 17% 50%;
    background-position: 22% 50%;

    font-size: 0.9rem;
    position: relative;
    /* bottom: 0vh; */
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    /* padding: 1.1vh 1.4vw; */
    /* margin: 0 0.18rem 0 1.25rem; */
    /* border: 2px solid white; */
    background-color: rgb(253, 138, 22);
    align-self: flex-end;
    border: none;
    border-radius: 8px;
}
.ProjectCollabrationBtn:hover {
    background-color: rgb(189, 95, 0);
}