.quote-section {
    display: flex;
    justify-content: center;
}

.quoteContainer {
    width: 90%;
    height: auto;
    padding: 1.2% 3.5% 2% 3.3%;
    margin: 4% 0% 5% 0%;
    font-size: 1rem;
    line-height: 1.7;
    color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}
.quoteTitle {
    padding: 0%;
    margin: auto 0;
    text-align: start;  
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
}
.new_quote_btn {
    height: 6vh;
    /* height: 42px; */
    padding: 0% 2.7%;
    /* margin-top: 1.3vh; */
    margin-right: 0px;
    font-size: 2vh;
    font-weight: 600;
    border-radius: 50px;
    background: transparent;
    letter-spacing: 1px;
    text-transform: capitalize;
    /* color: white; */
    border: none;
    background-image: url("/public/images/icons8-dice-64.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
}
.new_quote_btn:hover {
    transform: rotate(-70deg);
} 

.quoteDiv{
    /* border: 2px solid red; */
    display: block;
}

#openQuote {
    width: 2vw;
    height: 2vh;
    margin-top: 8px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 47%;
    background-image: url(/public/images/open-quote.png);
}
.quoteContent {
    display: inline;
    font-family: 'Gelasio', serif;
    font-size: 1.3rem;
    letter-spacing: 0.7px;
    text-align: justify;
    /* border: 2px solid yellow; */
    width: 0px;
}
#closeQuote {
    width: 2vw;
    height: 2vh;
    margin-top: 8px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 47%;
    background-image: url(/public/images/close-quote.png);
}
.authorName {
    height: auto;
    display: flex;
    /* align-items: center; */
    justify-content: end;
    margin-top: 1vh;
    font-size: 1rem;
    /* float: right; */
}

.authorName .authorNameContainer {
    padding: 0px 2vw;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 550px) {
    .quoteContainer {
        padding: 20px 20px 20px 20px;
    }
    .quoteTitle {
        font-size: 18px !important;
    }
    .new_quote_btn {
        /* height: 3.5vh; */
        font-size: 11px !important;
        height: auto;
        padding: 1.5% 6%;
        margin-top: 0%;
        margin-bottom: 3.5%;
    }
    #openQuote {
        height: 2.5vw;
        width: 2.5vh;
    }
    #closeQuote {
        height: 2.5vw;
        width: 2.5vh;
    }
    .authorName span {
        display: flex;
        align-items: center;
        padding: 5px 15px;
    }
}