.ArticleNewsNav{
    display: flex;
    justify-content: center;
    /* border: 2px solid yellow; */
    margin: 0px auto;
    padding: 0px;
    background-color:  #333333c8;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;    
    
}

.ArticleNewsNav li{
    list-style: none;
    margin: 8px 0px;
    /* border: 2px solid rgb(3, 228, 78); */
}



