#com_div{
    margin: 1vw 1.9vw;
    font-size: 1.2rem;
    word-wrap: break-word;
    color: whitesmoke;
    
}

.objectDescription {
    max-height: 22rem;
    overflow: auto;
    margin-bottom: 0%;
}

#commenter{        
    margin-top: 0;
    font-size: 1rem;
}

#pfp_div{
    height: 8vh;
    width: 8vh;
    border-radius: 4vh;    
    margin: 0.5vw;
}
#pfpic{
    height: 8vh;
    width: 8vh;
}
#commenter_id{
    font-size: 1.5rem;    
    margin: 1vw;
    color: white;
}

/* #upvote_div, #comment_div{
    margin: 1vw;
    font-size: 1.5rem;
    text-align: center;
    padding: 1px;
} */

/* #date_div{    
    position: absolute;    
    right: 7vw;
} */

#feed_bar{    
    font-size: 1.6vw;
    display: flex;
}

@media (max-width:920px){
    .c_class{
        margin: 0 10vw 2vw 10vw;
    }
    #date_div{
        right:11vw;
    }
    #commenter_id a{
        font-size: 1.5rem !important;
    }
}

@media (max-width:600px){
    .c_class{
        margin: 0 14vw 2vw 14vw;
    }
    #date_div{
        margin-top: 3vw;
        right:15vw;
    }
    #commenter_id a{
        font-size: 1.5rem !important;
    }
}

.deleteRep{
    position: absolute;
    border: none;
    right: 20px;
    top: 20px;
    background-image: url("/public/images/delete.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 22px;
    width: 22px;
    background-color: transparent;
    box-sizing: content-box;
}