
.UPleftPanel{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.UPProfile{
    padding: 45px 0px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px 1px rgb(0, 0, 0);
    border-radius: 25px;
}

.ProfileImg {
    position: relative;
    box-shadow: 0 0 30px 2px black;
    border-radius: 100%;
    width: 25vh;
    height: 25vh;
    display: flex;
    margin: auto;
    justify-content: center;
    background-size: contain;
    box-sizing: border-box;
}

.ProfileImg img {
    width: 25vh;
    height: 25vh;
    box-sizing: border-box;
}

.UPProfile img{
    border-radius: 100%;
}

.ProfileImgEdit{
    position: absolute;
    background-image: linear-gradient(transparent 60%,rgb(0, 0, 0));
    width: 100%;
    height: 100%;    
    border-radius: 100%;
    display: none;
    justify-content: center;
    padding-top: 65%;
}

.EditDPButton{
    background: none;
    border: none;
    
}

.ProfileName{
    position: relative;
    display: flex;
    font-size: 180%;
    font-weight: 650;
    height: 6vh;
    width: fit-content;
    margin: auto;
    margin-top: 6%;
    padding-bottom: 0px;
}

.ProfileUsername{
    display: flex; 
    justify-content: center;
    font-size: 110%;
    height: 3vh;
    width: fit-content;
    margin: auto;
}

.ProfileLeftInput{
    text-align: center;
    width: 80%;
    background: none;
    margin: auto;
}

.UPSkills{
    margin-top: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px 1px rgb(0, 0, 0);
    border-radius: 25px;
    padding: 10px 20px;
    padding-bottom: 15px;
}

.UPSkillsTitle{
    display: flex;
    justify-content: space-between;
    height: 6vh;
    font-size: 1.8rem;
    font-weight: 650;
    margin-bottom: 2vh;
}

.ProfileEditLink{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    font-size: 1.2rem;
}

.ProfileEditLink a{
    color: rgb(255,139,22);
}

.ProfileEditLink a:hover{
    text-decoration: underline !important;
}

.UPSkillsContent{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
}

.editLink{
    text-decoration: none;
    color: aqua;
}

.editLink:hover{
    text-decoration: underline !important;
}

.skillPlaceHolder button{
    justify-content: center;
    border: 2px solid black;
    padding:5px 15px;
    border-radius: 20px;
    background-color: rgb(126, 195, 244);
    display: flex;
}

.skillPlaceHolder button:hover{
    justify-content: center;
    border: 2px solid black;
    padding:5px 15px;
    border-radius: 20px;
    background-color: rgb(36, 95, 136) !important;
    display: flex;
}

.noPlaceHolder{
    display: none;
}