.projectRow{
    grid-template-columns: 7.8fr 1fr 20fr !important;
}

.addObjectBody {
    max-height: 70%;
}

.addProjectRow {
    margin-bottom: 3.5%;
}
.addProjectRow label {
    font-size: 1.3rem;
    margin-bottom: 0.9%;
}
.addProjectRow input::placeholder {
    color: #acacac;
}

.loadingPercentage {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
    padding: 0.5% 2.5%;
    margin-left: 1.7%;
    margin-bottom: 5% !important;
}

.extraProjectBtn {
    margin-top: 7%;
    margin-bottom: 2.5%;
}

.scroll-container {
    overflow-y: auto;
}
.scroll-container::-webkit-scrollbar-track {
    background: transparent;
}
.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(253, 138, 22);
    border-radius: 15px;
}