.projectRow{
    grid-template-columns: 7.8fr 1fr 20fr !important;
}

.addObjectBody {
    max-height: 70%;
}

.addProjectRow {
    margin-bottom: 3.5%;
}
.addProjectRow label {
    font-size: 1.3rem;
    margin-bottom: 0.7%;
}
.addProjectRow input::placeholder {
    color: #acacac;
}

.extraProjectBtn {
    margin-top: 7%;
    margin-bottom: 2.5%;
}

.scroll-container {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(253, 138, 22) #1e1e1e;
}

.scroll-container::-webkit-scrollbar {
    width: 5px;
    background-color: #1e1e1e;
}
.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(253, 138, 22);
    border-radius: 20px;
}