/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.projectmain{
    color: rgb(255, 255, 255);
    padding: 0.75rem 7rem;
}
.projdisplay{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #363636;
    padding: 1.5rem 2rem 2.8rem 2.5rem;
    /* padding-left: 2rem; */
    border-radius: 2.5vh;
    box-shadow: 0px 0px 20px black;
    animation: showProjectAnimation linear;
    animation-timeline: view();
    animation-range: entry 0 cover 42.5%;
}

@keyframes showProjectAnimation {
    0% {
        opacity: 0;
        scale: 0;
    }
    50% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.projectname{
    display: flex;
    align-items: center;
    font-size: 1.8rem !important;
    margin: 1rem 0rem 1rem 0rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: rgb(255, 255, 255);
}

.projectname:hover{
    text-decoration: underline;
}

.linkImg{
    background-image: url('/public/images/link-thin.png');
    background-size: contain;
    padding: 2.2vh;
    background-repeat: no-repeat;
    margin-top: 0.3rem;
    margin-left: 0.45rem;
}

.projdispheader{
    display: flex;
    column-gap: 3.4rem;
    /* margin-left: 1rem; */
}


.projdispheader p{
    margin: 5px 0px 5px 0px;
    font-size: 1.1rem !important;
    color: rgb(255, 255, 255);
}

.projdispbutton{ 
    float: right;
    padding: 0.4vh 1.4vw;
    margin-right: -0.4rem;
    margin-left: 1rem;
    font-size: 1.05rem;
    /* font-weight: 600; */
    border-radius: 5vh;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    background-color: rgb(253, 138, 22);
    border: 1.5px solid #2D033B;
  
}
.projdispbutton:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(189, 95, 0) !important;
    border: 1.5px solid rgb(189, 95, 0);
}

.projbtn{
    padding: 0rem 0rem 0.6rem 0rem;
}

.projdispbutton:hover{
    background-color: #3f007e ;
    
}

.projlink{
    margin-top: 30px;
}

.projdispheader img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
  
}

.projectdiscription {
    margin-top: 0.8rem;
    font-size: 1.15rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.03rem;
}
.projectdiscription span {
    font-size: 0.95rem;
    font-weight: 400;
    font-style: normal;
}

.projecttech {
    margin-top: 0.4rem;
    font-size: 1.15rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.03rem;
}

.video_info{
    min-height: 19rem;
    margin-top: 1.8rem;
    display: block;
    color: rgb(255, 255, 255);
    /* margin-right: 2rem; */
}

.video_info video{
    width: 28.4rem;
    height: 16rem;
    float: right;
    border-radius: 1rem;
    background-color: black;
    margin: 1.5rem 0rem 0.7rem 2rem !important;
}

.video_info h2 {
    letter-spacing: 0.07rem;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
}

.projectinfo {
    font-size: 0.95rem;
    text-align: justify;
}

.teaminfo{
    margin-top: 30px;
    clear: left;
}

.teaminfo li{
    font-size: 0.95rem;
}

.ProjectLink{
    text-decoration: none;
    color: white;
    background-color: #0c73e2;
    padding: 5px 20px 8px 18px;
    border-radius: 8px;
    border: 0cap;
    margin-top: 5px;
}

@media only screen and (max-width: 650px) {

    .projectmain{
        color: white;
        padding: 20px 30px;
    }
    .projdispheader{
        flex-direction: column;
        align-items: center;
        padding: 30px 10px;
    }
    .projectname{
        font-size: 2rem !important;
        margin: 10px 0px 10px 0px;
        font-weight: 500;
    }
    .projdispheader p{
        margin: 5px 0px 5px 0px;
        font-size: 1.2rem !important;
    }
    .projdispheader img{
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
    .video_info video{
        width: 100%;
        height: 100%;
    }

}