@font-face {
    font-family: newFont;
    src: url("/public/fonts/Cyborg\ Punk.ttf");
}

.contest_main{
   
}

.upcomingContestGrid{
    display: grid;
    
    margin: 1% 4.5% 4% 4.3%;
    gap: 0px 3%;
    grid-template-columns: repeat(2,1fr);
}

.upcoming_contest{
    padding-top: 3%;
    margin: 0% 4.4%;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
   
}

.upcoming_contest p{
    position: relative;
    font-size: 1.25rem;
    font-family: newFont;
    color: aliceblue;
    padding-bottom: 1.5%;
    letter-spacing: 0.15rem;
    
}

.RunningContestGrid {
    display: grid;
 
    gap: 2.5rem 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 1% 4.5% 4% 4.3%;
}

.runnig_contest{
    padding-top: 2.7%;
    
}

.runnig_contest p{
    font-size: 1.25rem;
    font-family: newFont;
    color: aliceblue;
    padding-bottom: 1.5%;
    padding-left: 4.4%;
    letter-spacing: 0.15rem;
}

.past_contest{
    padding-top: 2.7%;
   
}

.past_contest p{
    font-size: 1.25rem;
    font-family: newFont;
    color: aliceblue;
    padding-bottom: 1.5%;
    padding-left: 4.4%;
    letter-spacing: 0.15rem;
}

.PastContestGrid {
    display: grid;
    
    gap: 4.5vh 4.5vh;
    grid-template-columns: repeat(2, 1.5fr);
    margin: 1% 4.5% 5.5% 4.3%;
}

@media only screen and (max-width: 600px) {
    .contest_heading p {
        margin-top: 10px;
        font-size: 1.7rem !important;
        margin-bottom: 15px;
    }

    .upcoming_contest p,
    .runnig_contest p {
        font-size: 1.2rem !important;
        margin-bottom: 4%;
    }

    .past_contest p {
        margin-top: 4%;
        font-size: 1.2rem !important;
        margin-bottom: 4%;
    }
    .upcomingContestGrid{
        grid-template-columns: repeat(1,1fr);
    }
    .PastContestGrid {
        grid-template-columns: repeat(1,1fr);
    }
}

.AddContestBtn{
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 7.5rem;
    right: 2rem;
    font-size: 0.9rem;
    color: white;
    letter-spacing: 1px;
    padding: 1.1vh 1.4vw;
    background-color: rgb(253, 138, 22);
    border-radius: 10px;
}

.AddContestBtn:hover{   
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(189, 95, 0);
}