@font-face {
    font-family: newFont;
    src: url("/public/fonts/Cyborg\ Punk.ttf");
}

.projectLib{
    color: white;
    margin-top: 3%;
    font-family: newFont;
    display: flex;
    justify-content: center;
}