.ArticleNewsNavElement{
    cursor: pointer;
    padding: 0px 25px;
}

.ElementName{
    color: rgb(192, 192, 192);
    font-size: 20px;
    font-weight: 500;

}

.underline{
    display: flex;
    justify-content: center;
}

.dot{
    background-color: rgb(152, 152, 152);
    height: 5px;
    width: 5px;
    border-radius: 5px;
    margin-top: 4px;

    transition: all 0.4s;
}

.dot:hover{
    width: 80px;
}