.ResourcesVideosDisplay{
    /* border: 2px solid green; */
    padding: 2% 0vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vh 0px;
    background-image: url(/public/images/profileProjects.png);
    background-position: center center; 
    background-repeat: no-repeat;
    height: 100%;
}

/* .ResourcesVideoDisplayGradient{
    border: 2px solid #ffff00;
    background-image: linear-gradient(transparent 60%, #2D033B);
    width: 100%;
    height: 100%;
    z-index: 2;
} */