.ResourcesNotesDisplay{
    display: flex;
    /* border: 2px solid yellow; */
    gap: 1.5rem;
    width: 100%;
    padding: 2rem 0vh;
    padding-right: 0.75rem;
    margin : 0px;
    padding: auto;
    /* grid-template-columns: repeat(4,1fr); */
    flex-wrap: wrap;
    background-image: url(/public/images/profileProjects.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

}